.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.coverage
.env
media/
staticfiles/
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
infra/generated.auto.tfvars
infra/env/dev/backend.hcl
infra/env/prod/backend.hcl
infra/env/dev/terraform.tfvars
infra/env/prod/terraform.tfvars
